@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #fdfffd;
}

.form-control {
  width: 14px;
}

@media screen and (min-width: 994px) {
  .form-control {
    width: 350px;
  }
}

@media screen and (max-width: 994px) {
  
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 3px 3px 10px 0px #3248ad;
  padding: 30px;
}

.textJudul {
  font-family: "Poppins", serif;
  color: #2d2d2d;
}

.text-form {
  font-family: "Poppins", serif;
  font-size: 14px;
  color: #2d2d2d;
}

.text-hover {
  text-decoration: none;
  color: #2d2d2d;
}

.text-hover:hover {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: bold;
}

.btn {
  border-radius: 10px;
}

.text-link {
  text-decoration: none;
  color: #2d2d2d;
}

.text-link:hover {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
}

.input-group-text {
  border-radius: 10px;
}

.text-link {
  text-decoration: none;
  color: #2d2d2d;
}

.text-link:hover {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: bold;
}